@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;800&display=swap");

@font-face {
  font-family: Gilroy-Bold;
  src: url(../fonts/Gilroy-Bold.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #4fcbff;
  --heading-color: #1b2729;
  --text-gray-color: #393939;
  --blue-color: #002099;
  --sub-blue-color: #5d6da9;
  --white-color: white;
  --black-color: #000;
}

@media (max-width:1199px) {
  .container {
    max-width: 100% !important;
  }
}

p {
  margin: 0
}

a.nav-link.bg-white.text-black {
  background-color: var(--primary-color) !important;
  color: var(--white-color);
  border-radius: 10px;
  padding: 5px 10px;
}

a.nav-link.bg-white.text-black i {
  font-size: 22px;
}

/*  */
.tabs {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  background-color: var(--white-color);
  transition: all 0.2s linear;
}

.tab {
  cursor: pointer;
  padding: 20px 29px;
  margin: 0;
  background-color: var(--white-color);
  display: flex;
  align-items: center;
  gap: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  -webkit-clip-path: polygon(83% 0%, 100% 50%, 84% 101%, 0 100%, 0% 50%, 0 0);
  clip-path: polygon(83% 0%, 100% 50%, 84% 101%, 0 100%, 0% 50%, 0 0);
  color: var(--black-color);
  transition: all 0.2s linear;
}

@media (max-width: 1200px) {
  .tab {
    padding: 20px 29px;
  }
}

.tab:hover {
  background-color: var(--primary-color);
}

.tab-content {
  display: none;
}

.active-tab {
  background-color: var(--primary-color);
  -webkit-clip-path: polygon(83% 0%, 100% 50%, 84% 101%, 0 100%, 0% 50%, 0 0);
  clip-path: polygon(83% 0%, 100% 50%, 84% 101%, 0 100%, 0% 50%, 0 0);
}

.number {
  width: 24px;
  height: 24px;
  border-radius: 100px;
  background-color: #e0e7f0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.order-wraper {
  background: var(--blue-color);
  padding: 16px 0;
}

.order-first-contant-wraper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 30px;
  padding: 40px 0;
}

.or-first-left {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.or-first-right {
  width: 30%;
  border-radius: 24px;
  border: 1px solid #CFE6EF;
  background: #F5FCFF;
  box-shadow: 0px 0px 10px 0px rgba(208, 224, 231, 0.30);
  padding: 30px;
  align-self: start;
}

.or-title {
  color: var(--heading-color);
  font-family: Gilroy-Bold;
  font-size: 48px;
  font-weight: 400;
  line-height: 58px;/
}

.or-select {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 12px 20px;
  border-radius: 8px;
  box-shadow: 0px 2px 8px 0px rgba(0, 22, 106, 0.07);
}

.or-select-left {
  width: 50%;
  display: flex;
  gap: 20px;
  align-items: center;
}

.or-circle {
  width: 16px;
  height: 16px;
  border-radius: 100px;
  border: 1px solid gray;
}

.or-select-right {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.or-selects {
  display: flex;
  align-items: center;
}

.or-value {
  font-weight: bold;
  color: var(--blue-color);
  font-size: 24px;
}

select.or-main-select {
  border: none;
  outline: none;
  color: #759EAF;
  font-family: Gilroy-Medium;
  font-size: 14px;
  font-weight: 400;
  background-color: transparent;
}

.or-icon-with-texts {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 15px 0;
  gap: 10px;
}

.or-icon-wraper-box {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.or-icon-sub-text {
  display: flex;
  flex-direction: column;
  align-items: self-start;
}

p.or-moving-text {
  color: var(--sa-labels, #708794);
  font-family: Nunito;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}

.or-person-text {
  color: var(--sa-title, #1B2729);
  font-family: Gilroy-Medium;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.or-images {
  display: flex;
  align-items: center;
  gap: 10px;
}

#or-select-right {
  background-color: var(--blue-color);
}

#or-select-right .or-circle {
  border-color: var(--white-color);
}

#or-select-right .or-title,
.or-value {
  color: var(--white-color);
}

#or-select-right select.or-main-select {
  background-color: transparent;
}

.or-services-wraper {
  margin-top: 20px;
}

h2.or-ser-title {
  color: #1B2729;
  font-family: Gilroy-Bold;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.or-ser-box-wraper {
  gap: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 15px;
}

.or-sers-single-box {
  display: flex;
  padding: 16px;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 16px;
  border: 1px dashed #8AA9B6;
  background: #F0F7FA;
  align-self: start;
}

.or-sers-single-box h3 {
  color: var(--sa-title, #1B2729);
  font-family: Gilroy-Bold;
  font-size: 18px;
  text-transform: capitalize;
}

.or-sers-single-box p {
  color: #393939;
  font-family: Nunito;
  font-size: 18px;
  font-weight: 400;
}

.or-sers-single-box-btn-wraper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
}

.or-per-machine-sub-text {
  display: flex;
  align-items: center;
  padding: 4px 12px;
  background: #E2EFFF;
  border-radius: 6px;
}

.or-per-machine-sub-text h4 {
  color: #002099;
  font-family: Gilroy-Bold;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 0;
}

.or-per-machine-sub-text h4 span {
  color: #5D6DA9;
  font-family: Gilroy-Medium;
  font-size: 12px;
}

.or-ser-btn button {
  border-radius: 8px;
  background: #4FCBFF;
  border: none;
  outline: none;
  padding: 7px 14px;
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: bold;
  border: 1px solid #4FCBFF;
  transition: all 0.2s linear;
}

.or-ser-btn button:hover {
  background: transparent;
}

.or-ser-lift,
.or-ser-right {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.next-btn {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 30px;
}

.next-btn button {
  border-radius: 12px;
  background: #0D305A;
  padding: 10px 20px;
  border: none;
  outline: none;
  color: white;
  border: 1px solid #0D305A;
  transition: all 0.2s linear;
  display: flex;
  align-items: center;
  gap: 5px;
}

.next-btn button:hover {
  background: transparent;
  color: black;
}

.next-btn button i {
  font-size: 13px;
  margin-top: 2px;
}

.or-first-right h2 {
  color: var(--sa-title, #1B2729);
  font-family: Gilroy-Bold;
  font-size: 30px;
  font-weight: 400;
  line-height: 40px;
  /* 133.333% */
  margin-bottom: 50px;
}

.or-r-ele-wraps {
  display: flex;
  flex-direction: column;
}

.or-r-ele-wraps h3 {
  color: var(--sa-title, #1B2729);
  font-family: Gilroy-Bold;
  font-size: 18px;
  font-weight: 400;
}

.or-dryer-moving {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 5px;
}

.or-dryer-moving p {
  color: #647181;
  font-family: Nunito;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  /* 100% */
}

.or-dryer-moving span {
  color: #616B70;
  text-align: right;
  font-family: Gilroy-Medium;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 14px;
  /* 100% */
}

.or-r-wraper {
  display: flex;
  flex-direction: column;
  gap: 15px;
  border-left: 2px dashed #8AA9B6;
  padding-left: 35px;
  position: relative;
  margin-bottom: 20px;
}

.or-r-wraper:last-child {
  margin-bottom: 0;
}

.or-r-paikage-icon {
  position: absolute;
  top: -12px;
  left: -20px;
  width: 42px;
  height: 42px;
  background: var(--blue-color);
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

p.pr-date {
  color: #242729;
  font-family: Nunito;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px;
  margin-top: 8px;
}

.or-r-ele-wraps.or-b-top {

  padding-top: 15px;
}

p.total {
  color: var(--sa-title, #1B2729);
  font-family: Gilroy-Regular;
  font-size: 16px;
  font-weight: 400;
}

span.total-price {
  color: #0049A1;
  font-family: Gilroy-Bold;
  font-size: 16px;
  font-weight: 400;
  line-height: 14px;
  /* 87.5% */
}




/* personal tab css */
form.pr-form-wraper {
  border-radius: 16px;
  background: var(--white-color, #FFF);
  box-shadow: 0px 2px 8px 0px rgba(0, 22, 106, 0.07);
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(229 229 229);
  gap: 20px;
  padding: 30px;
}

.pr-single-form {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.pr-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}

.pr-form label {
  color: var(--sa-title, #1B2729);
  font-family: Gilroy-Regular;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
}

.pr-form label span {
  color: #FF3F3E;
  font-family: Gilroy-Regular;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

.pr-form input {
  border-radius: 8px;
  border: 1px solid var(--sa-lines, #D9E3E9);
  background: var(--task-white, #FFF);
  width: 100%;
  padding: 10px;
  outline: none;
}

.pr-form input::placeholder {
  color: #afafaf;
}

.pr-form.address {
  width: 70%;
}

.pr-form.post-code {
  width: 30%;
}

.city-wraper,
.country-wraper {
  width: 100%;
  padding: 10px 10px;
  border: 1px solid var(--sa-lines, #D9E3E9);
  border-radius: 8px;
}

select.city,
select.country {
  width: 100%;
  border: none;
  outline: none;
}


/* book your address css */
.delivery-address {
  width: 100%;
  margin-top: 15px;
}

.delivery-address h2 {
  color: var(--sa-title, #1B2729);
  font-family: Gilroy-Bold;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}

.pr-form textarea {
  border-radius: 8px;
  border: 1px solid var(--sa-lines, #D9E3E9);
  background: var(--task-white, #FFF);
  width: 100%;
  padding: 10px;
  outline: none;
  width: 100%;
}

.pr-form textarea::placeholder {
  color: #afafaf;
}

/* review and payment css */
.re-wraper {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
  border-radius: 16px;
  background: var(--task-white, #FFF);
  box-shadow: 0px 2px 8px 0px rgba(0, 22, 106, 0.07);
  padding: 30px;
  border: 1px solid #e5e5e5;
}

.re-ele-wraper {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.re-header {
  width: 100%;
}

.re-title {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.re-title h3 {
  color: var(--sa-title, #1B2729);
  font-family: Gilroy-Bold;
  font-size: 24px;
  font-weight: 400;
  line-height: normal;
}

.re-icon svg {
  width: 22px;
  height: 22px;
  cursor: pointer;
}

.re-details-wraper {
  background-color: #F5F8FA;
  padding: 30px;
  border-radius: 8px;
}

ul.re-details-ul {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  width: 100%;
  gap: 24px;
}

li.re-details-list {
  display: flex;
  list-style: none;
  gap: 20px;
  align-items: center;
  width: 100%;
}

.re-first-ele {
  color: #647181;
  font-family: Nunito;
  font-size: 16px;
  font-weight: 400;
  line-height: 14px;
  text-align: right;
}

.re-second-ele {
  color: #242729;
  font-family: Gilroy-Medium;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
}
.re-bottom-wraper {
  display: flex;
  gap: 25px;
}


@media (max-width:1103px) {
  .order-first-contant-wraper {
    padding-top: 15px;
  }

  #or-select-right .or-title,
  .or-value {
    font-size: 13px !important;
  }

  .or-select-left {
    gap: 5px;
  }

  .or-value {
    font-size: 16px !important;
  }
}

@media (max-width:992px) {
  .tabs {
    flex-direction: column;
  }

  .active-tab {
    background-color: var(--primary-color);
    -webkit-clip-path: unset;
    clip-path: unset
  }

  .tab {
    -webkit-clip-path: unset;
    clip-path: unset
  }

  .order-first-contant-wraper {
    flex-direction: column;
  }

  .or-first-left,
  .or-first-right {
    width: 100%;
  }
  .next-btn {
    justify-content: center;
}
}

@media (max-width:768px) {
  .re-bottom-wraper{
    flex-direction: column;
  }
}

@media (max-width:600px) {
  .or-icon-with-texts {
    flex-wrap: wrap;
  }

  .or-select {
    flex-direction: column;
  }

  .or-ser-box-wraper {
    grid-template-columns: 1fr
  }

  .next-btn {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 15px;
  }

  .or-first-left {
    gap: 0;
  }

  .or-title {
    font-size: 30px;
    text-align: center;
  }

  .or-select {
    gap: 10px;
  }

  .or-select-left,
  .or-select-right {
    width: 100%;
  }

  .or-first-right h2 {
    font-size: 28px;
    margin-bottom: 30px;
  }

  .order-first-contant-wraper {
    padding-top: 0px;
  }

  .order-first-contant-wraper {
    gap: 15px;
  }

  /* personal css */
  .pr-single-form {
    flex-direction: column;
    gap: 10px;
  }

  form.pr-form-wraper {
    gap: 10px;
    padding: 20px 13px;
  }

  .pr-form.address {
    width: 100%;
  }

  .pr-form.post-code {
    width: 100%;
  }

  /* book your address css*/
  .delivery-address {
    margin-top: 0px;
  }

  .delivery-address h2 {
    font-size: 22px;
  }
  /* reveiw and payment css */
  .re-wraper {
    gap: 15px;
    padding: 15px;
}
.re-details-wraper {
  padding: 15px;
}
.re-ele-wraper {
  gap: 10px;
}

.re-title h3 {
  font-size: 22px;
}

.re-icon svg {
  width: 20px;
  height: 20px;
}
}